h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.count{
position:relative;
left:180px;
top:50px;
font-size: 50px;

}
.decreaseBtn{
  position: relative;
  top:100px;
  background-color: orange;
  color:black;
  left:50px;
  height:20px;
  border-radius: 5px;
  
  
}
.resetBtn{
  position: relative;
  top:100px;
  left:90px;
  background-color: red;
  color:black;
  border-radius: 5px;
  height:20px;
}
.increaseBtn{
  position: relative;
  top:100px;
  left:130px;
  background-color: green;
  color:black;
  border-radius: 5px;
  height:20px;
}